*.zip
*.rar
*.7z
crm-admin/.env
crm-admin/storage/**
crm-admin/vendor/**
crm-user/.env
crm-user/storage/**
crm-user/vendor/**
*.sql
*.pdf

/vendor
/node_modules
/public/storage
/storage/*.key
.env
*.tar.gz
