APP_NAME="Adventures Overland"
APP_ENV=staging
APP_KEY=base64:iaL1OqFQ3uYDzAzTy3Gk/v1jSV+1aBzxEY6w27ZKw28=
APP_DEBUG=true
# APP_URL=https://adventuresoverland.com/staging-crm/crm-admin
# USER_URL=https://adventuresoverland.com/staging-crm/crm-user/
APP_URL=http://localhost/staging-crm/crm-admin
USER_URL=http://localhost/staging-crm/crm-user/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
# DB_DATABASE=u679865197_staging
# DB_USERNAME=u679865197_vageesh
# DB_PASSWORD=AOcrm@123
DB_DATABASE=ao_staging_crm
DB_USERNAME=root
DB_PASSWORD=

Extra_Mail = "amit@adventuresoverland.com"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
# QUEUE_CONNECTION=database
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=none
SESSION_DOMAIN=inclement-jax-tetrabasic.ngrok-free.dev


MEMCACHED_HOST=localhost

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379


MAIL_MAILER=smtp
MAIL_HOST=smtp.zeptomail.in
MAIL_PORT=587
MAIL_USERNAME=emailapikey
MAIL_PASSWORD=PHtE6r1fROrv2m4t8BEA7f64RMTyZtkvqbxufVVOtooWC/ABTU0Botp9kGPj/xsqAPIRQP+cyIlutryet++BdjvlZD0YDmqyqK3sx/VYSPOZsbq6x00ZsV4acEDcXI7octJi1yLTst3fNA==
MAIL_FROM_ADDRESS=info@adventuresoverland.com
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WATI_AUTH='Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJlMDhmNjczYy01YWM5LTQ4OWItYjM2OC0yMzAwMjcxMGJlNWIiLCJ1bmlxdWVfbmFtZSI6ImluZm9AYWR2ZW50dXJlc292ZXJsYW5kLmNvbSIsIm5hbWVpZCI6ImluZm9AYWR2ZW50dXJlc292ZXJsYW5kLmNvbSIsImVtYWlsIjoiaW5mb0BhZHZlbnR1cmVzb3ZlcmxhbmQuY29tIiwiYXV0aF90aW1lIjoiMTEvMjUvMjAyNCAwOTo1NToyNSIsInRlbmFudF9pZCI6Ijg0NTIiLCJkYl9uYW1lIjoibXQtcHJvZC1UZW5hbnRzIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjoiQURNSU5JU1RSQVRPUiIsImV4cCI6MjUzNDAyMzAwODAwLCJpc3MiOiJDbGFyZV9BSSIsImF1ZCI6IkNsYXJlX0FJIn0.zqxefTmcTMfTb4D0L6CO0FzZpKqN-mjd9EpMhjfWBxY'

API_TOKEN=eyJpdiI6IlZYaEdZRW5sOThkbXNGMGRCdnFsaGc9PSIsInZhbHVlIjoiTmlCQmlqL0ZsWUpDUWx4cFlrNVR5aUxkdnFxMzJXY29hbFpGZGplaUxoN3k4WEFlME1ldUhZMyt5aFVlNHplYyIsIm1hYyI6Ijg1Yzg4OTA4NzEwOTRlZDhiYjM3ZjQwMDc2N2EyZGI4YWQzNTFkMDQ1NjUzNmU3ZDQzY2JjOGUxYzk3Mzc5NzkiLCJ0YWciOiIifQ==
API_SECRET_KEY=base64:71ss6LsRistKI68Qe/DS6mPLNxulUHzzs5D28m81xJ4=

# PAYU_BASE_URL=https://sandboxsecure.payu.in // for using local
PAYU_ENV=live
PAYU_KEY=BfnKT4xv
PAYU_SALT=Cx0a8Pq0WO
PAYU_BASE_URL=https://secure.payu.in
# PAYU_CALLBACK_BASE=https://abc123.ngrok-free.app
PAYU_CALLBACK_BASE=https://inclement-jax-tetrabasic.ngrok-free.dev/staging-crm/crm-admin
EMBED_ROOT=https://inclement-jax-tetrabasic.ngrok-free.dev/staging-crm/crm-admin
EMBED_SECRET=D71zbXc8BiY6Z9QY1BjVxAtK2PE4UXMKi7zqxKAJDBLVwqNu1PYVaRdEMYVRRx8N
# ng rok auth key : 3K4EWDWA7UI5YPAO4FEIKR4W2Z3UCJXE

# ngrok config add-authtoken 35KMUFKcQVifLBx26l8H7UjCWcN_qDCkNqZVekRuEYcjATmG
